<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
            This service declaration will be merged with the main manifest for
            debug builds. 'tools:remove="android:permission"' tells the manifest
            merger to find this exact service and only remove the permission
            attribute, leaving all other attributes (like intent-filters) intact.
            This is the most precise way to make the service accessible for
            adb testing without affecting the release build's security.
        -->
        <service
            android:name="com.mtkresearch.breezeapp.engine.BreezeAppEngineService"
            tools:remove="android:permission" />
    </application>

</manifest> 